#peopleContainer {
    margin: auto auto;
    width: 250px;
    padding: 200px 0px 15px 0px;
}

.buttons {
    margin: 0 auto;
    width: 250px;
}

div.index {
    display:table;
    width:100%;
    table-layout: fixed;
    padding: 25px 75px 0px 75px;
}
div.index span {
    display:table-cell;
    text-align:center;
    border: 1px solid gray;
}

.highlighted{
    background-color: lightgreen;
}